/* Fonts */
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/Gill\ Sans.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-bold";
  src: url("../fonts/GothamBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/GothamBook.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GillSans-bold";
  src: url("../fonts/Gill\ Sans\ Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Substitute for Gill-sans semi-bold */
  font-family: "Lato-bold";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Index Styling */

body {
  font-size: 25px;
}

/* Log In/Out Styles */
.creator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333333;
  height: 78px;
  padding-right: 140px;
}

.creator span {
  font-family: "Gotham-bold";
  font-size: 19px;
  color: #ffffff;
  padding-right: 30px;
}

.creator a button {
  background-color: #f58400;
  border: none;
  border-radius: 5px;
  width: 169px;
  height: 50.49px;
  box-shadow: #000000 0px 3px 6px;
  color: #ffffff;
  font-family: "Gotham-bold";
  font-size: 20px;
  text-transform: uppercase;
}
/* Nav Bar */

.main-header nav {
  background-color: #f7f7f7;
}
.main-header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-header nav ul li {
  margin-left: 125px;
}

.logo {
  width: 155px;
}

.main-header nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Gotham-bold";
  color: #383838;
  font-size: 1.05rem;
}

/* Alluhwi */

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #171717;
}

.home-container div {
    width: 745px;
    margin: 100px 50px 130px 50px;
    /* justify-content: space-around; */
}

.home-container iframe {
  width: 745.76px;
  height: 408.25px;
  box-shadow: #000000 0px 3px 6px;
}
.home-container h1 {
  color: #F58400;
  text-transform: uppercase;
  font-size: 54px;
  font-family: "Montserrat-bold";
}

.home-container p {
  color: #FFFFFF;
  font-family: "Gill Sans";
  font-size: 25px;
}

.home-container a button {
  width: 279.42px;
  height: 74.79px;
  background-color: #F58400;
  border-radius: 5px;
  border: none;
  box-shadow: #000000 0px 3px 6px;
  font-family: "Gotham-bold";
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}