/* Fonts */
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/Gill\ Sans.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-bold";
  src: url("../fonts/GothamBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/GothamBook.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GillSans-bold";
  src: url("../fonts/Gill\ Sans\ Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Substitute for Gill-sans semi-bold */
  font-family: "Lato-bold";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

/* NAV BAR-----------------------------------------*/

#main-header nav {
  background-color: #f7f7f7;
}
#main-header nav ul,
#main-header-alt nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#main-header nav ul li,
#main-header-alt nav ul li {
  margin-left: 125px;
}

.logo {
  width: 155px;
}

#main-header nav a,
#main-header-alt nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Gotham-bold";
  color: #383838;
  font-size: 1.05rem;
}
/* ALT NAV */

/* #main-header-alt nav {
  
} */

/* Footer----------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292929;
}

footer div:first-child {
  margin-top: 43.53px;
}

footer div {
  margin-bottom: 43.53px;
  padding: 0;
}

footer img {
  margin-right: 37.81px;
  width: 37.31px;
}

footer a {
  text-decoration: none;
  font-family: "Gotham-bold";
  font-size: 25px;
  color: #ffffff;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer p {
  font-family: "Gill Sans";
  font-size: 24px;
  color: #f58400;
}
/* ---------------------------------------------- */
/* Index Styling */

body {
  font-size: 25px;
}

/* Log In/Out Styles */
.creator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333333;
  height: 78px;
  padding-right: 140px;
}

.creator span {
  font-family: "Gotham-bold";
  font-size: 19px;
  color: #ffffff;
  padding-right: 30px;
}

.creator a button {
  background-color: #f58400;
  border: none;
  border-radius: 5px;
  width: 169px;
  height: 50.49px;
  box-shadow: #000000 0px 3px 6px;
  color: #ffffff;
  font-family: "Gotham-bold";
  font-size: 20px;
  text-transform: uppercase;
}

/* Alluhwi */

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #171717;
}

.home-container div {
  width: 745px;
  margin: 100px 50px 130px 50px;
  /* justify-content: space-around; */
}

.home-container iframe {
  width: 745.76px;
  height: 408.25px;
  box-shadow: #000000 0px 3px 6px;
}
.home-container h1 {
  color: #f58400;
  text-transform: uppercase;
  font-size: 46px;
  font-family: "Montserrat-bold";
  margin-bottom: 26px;
}

.home-container p {
  color: #ffffff;
  font-family: "Gill Sans";
  font-size: 23.5px;
  margin-bottom: 27px;
  line-height: 40px;
}

.home-container a button {
  width: 279.42px;
  height: 74.79px;
  background-color: #f58400;
  border-radius: 5px;
  border: none;
  box-shadow: #000000 0px 3px 6px;
  font-family: "Gotham-bold";
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

/* Download */
.beta {
  position: relative;
  background-color: #b62700;
  height: 683px;
}

.beta h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat-bold";
  font-size: 55px;
  top: 60px;
  left: 310px;
  position: absolute;
}

.beta img.google-play {
  top: 140px;
  left: 510px;
  position: absolute;
  width: 371px;
}

.beta img.smart-app {
  top: -110px;
  right: -90px;
  position: absolute;
  display: block;
  width: 70%;
}
/* ABOUT US -------------------------------------------- */

#main-header-alt nav span {
  margin-top: 20px;
  margin-left: 600px;
}

#main-header-alt nav {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.42);
}

#main-header-alt nav a button {
  background-color: #f58400;
  box-shadow: #000000 0px 3px 6px;
  border: none;
  border-radius: 5px;
  width: 260px;
  height: 66.73px;
  font-family: "Gotham-bold";
  font-size: 21px;
  color: #ffffff;
}

/* About Paragraphs */
#about {
  background-image: url(../img/Alluhwi-Website-Background-3-flipped.png);
  height: 1135px;
  background-repeat: no-repeat;
  background-size: 2016px 1137px;
  background-position: center;
}

#about div h1 {
  text-transform: uppercase;
  color: #fc941a;
  font-size: 57px;
  font-family: "Gotham-bold";
  padding: 40px 0 40px 0;
}

#about p {
  font-family: "Gill Sans";
  font-size: 26px;
  color: #ffffff;
  line-height: 38px;
  margin-bottom: 40px;
  text-align: justify;
}

#about div {
  margin: 0px 815px 0 140px;
  width: 965px;
  height: 826px;
}

/* CONTACT PAGE -----------------------------------------*/

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 896.73px;
}

#contact h1 {
  font-family: "Gotham-bold";
  font-size: 67px;
  text-transform: uppercase;
  color: #f58400;
}

#contact p {
  font-family: "Gill Sans";
  font-size: 25px;
  color: #ffffff;
}

#contact .contact-wrapper {
  background-color: #383838;
  border-radius: 10px;
  box-shadow: #000000 0px 3px 6px;
  width: 1325px;
  height: 711px;
  display: flex;
  flex-direction: row;
}

/* Form styles */
#contact label {
  font-family: "Gotham-bold";
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

#contact input {
  width: 483.88px;
  height: 40.57px;
  background-color: #ffffff;
  box-shadow: #000000 0px 3px 6px;
  border-radius: 5px;
}

input::placeholder, textarea::placeholder {
  font-family: "Gill Sans";
  color: #CCCCCC;
  font-size: 19px;
}

#contact textarea {
  width: 483.88px;
  height: 155.58px;
  background-color: #ffffff;
  box-shadow: #000000 0px 3px 6px;
  border-radius: 5px;
}

#contact [type=submit] {
  border: none;
  border-radius: 5px;
  background-color: #F58400;
  box-shadow: #000000 0px 3px 6px;
  width: 180.99px;
  height: 41.92px;
  font-family: "Gotham-bold";
  font-size: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* PRIVACY---------------------------------------------- */

#privacy {
  background-color: #ffffff;
  /* height: 2825.83px; */
}

#privacy div {
  width: 1107px;
  height: 2455px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-left: 140px;
  margin-top: 126.73px;
}

#privacy h1, #terms h1 {
  font-family: "Gotham-bold";
  font-size: 57px;
  text-transform: uppercase;
  color: #383838;
  margin: 0px 0 50px 0;
}

#privacy h3, #terms h3, #terms span {
  font-family: "Gotham-bold";
  color: #383838;
  font-size: 27px;
  margin: 10px 0 30px 0;
}

#privacy p, #terms p {
  font-size: 18px;
  font-family: "Gill Sans";
  color: #383838;
  margin-bottom: 35px;
  line-height: 25px;
}

#privacy p:nth-child(8), #privacy p:nth-child(9), #privacy p:nth-child(17) {
  margin-bottom: 0px;
}

#privacy ul li a,
#privacy ul li {
  font-family: "Gill Sans";
  color: #383838;
  font-size: 18px;
  text-indent: 30px;
}

#privacy ul li:last-of-type {
  margin-bottom: 40px;
}

/* TERMS ----------------------------------------------------------- */

#terms {
  background-color: #FFFFFF;
  height: 1421px;
  margin-left: 140px;
  margin-top: 113.76px;
}

#terms div {
  width: 1107px;
  height: 1256px;
}

#terms p:last-of-type {
  margin-top: 30px;
}